<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.archives"><!--SD卡读写-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".common.app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".function.person.activity.PersonProblemListActivity"/>
        <activity
            android:name=".function.person.activity.PersonActivity"/>
        <activity
            android:name=".function.person.activity.PersonDetailActivity"/>
        <activity
            android:name=".function.company.activity.CompanyActivity"/>
        <activity
            android:name=".function.detail.GiftsDetailActivity"/>
        <activity
            android:name=".function.age.AgeActivity"/>
        <activity
            android:name=".function.type.activity.TypeActivity"/>
        <activity
            android:name=".function.main.activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".function.detail.CaseInvesDetailActivity"
            android:label="信息详情"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".function.detail.ZancunsDetailActivity"
            android:label="信息详情"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".function.detail.VerificationsDetailActivity"
            android:label="信息详情"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".function.detail.LettersDetailActivity"
            android:label="信息详情"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".function.detail.EndingsDetailActivity"
            android:label="信息详情"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".function.main.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>